/* Mobile first */
/* Setting variables */
:root {
  /* font-size-base is the key for all the sizes. 
  Change the font size just with that, from mobile to desktop.*/
  --font-size-base: 16px;

  --font-size: var(--font-size-base); /*16px. last version: 18px*/
  --font-size-small: calc(var(--font-size) * 0.81); /*13px*/
  --font-size-contact: calc(var(--font-size) * 0.75); /*12px*/
  --font-line-height: calc(var(--font-size) * 1.8); /*32px*/
  --font-line-height-contact: calc(var(--font-line-height) * 1.1); /*35px*/
  --marginX1: var(--font-size); /*16px*/
  --marginX2: calc(var(--font-size) * 2); /*32px*/
  --marginX3: calc(var(--font-size) * 3); /*48px*/
  --marginX6: calc(var(--font-size) * 6); /*96px*/
  --margin-one-hundred: calc(var(--font-size) / 100);
  --margin-one-fifth: calc(var(--font-size) / 5); /*3.4px*/
  --margin-one-half: calc(var(--font-size) / 2); /*8px*/
  --max-width: 640px;
  --contact-height: calc(
    100vh - var(--font-line-height-contact) - var(--marginX1) -
      var(--margin-one-half) - var(--font-line-height) - var(--marginX2)
  );
  /* --contact-height calc
        100vh - 
        [h4] var(--font-line-height-contact) - var(--marginX1) - var(--margin-one-half) -
        [button-container] var(--marginX1) - var(--marginX2) -
        [links-bottom] var(--font-line-height) -
        [body padding bottom] var(--marginX2)
  */
}

/* Colour palette */
:root .terminal {
  --bg-color: #0A1A21;/*ok*/
  --title-color: #e6f1ff;/*ok*/
  --text-color: #798F99;/*ok*/
  --text-shadow-color: none;
  --link-color: #64ffda;/*ok*/
  --hover-color: #4AC8FF;
  --highlighted-bg: #112933;/*ok*/
  --highlighted-text: #64ffda;
  --highlighted-border: #174B61;/*ok*/
  --highlighted-box-shadow: none;
  --tag-languages: #091419;
  --tag-languages-text: #20AEEB;
  --tag-languages-border: #1881AD;
  --tag-front: #091419;
  --tag-front-text: #20AEEB;
  --tag-back: #091419;
  --tag-back-text: #20AEEB;
  --tag-environment: #091419;
  --tag-environment-text: #20AEEB;
  --tag-research: #091419;
  --tag-research-text: #20AEEB;
  --icon-color: #35454C;/*ok*/
  --btn-bg-primary-hover: #f4cae8;
  --btn-bg-secondary-hover: #001f33;
  --selection-bg: #fff;
  --selection-text: #000;
  --selection-link-bg: #000;
  --selection-link-bg-hover: #61dafb;
  --selection-link-text: #fff;
  --selection-link-text-hover: #000;
}

/* Colour palette */
:root .at-night {
  --bg-color: #001628;
  --title-color: #83ba52;
  --text-color: #f5d67b;
  --text-shadow-color: #001c33;
  --link-color: #ff8a00;
  --hover-color: #ffad4c;
  --highlighted-bg: #072940;
  --highlighted-text: #72e0d1;
  --highlighted-border: #31605a;
  --highlighted-box-shadow: #001c33;
  --tag-languages: #060621;
  --tag-languages-text: #aa7ee1;
  --tag-languages-border: #4a3761;
  --tag-front: #060621;
  --tag-front-text: #aa7ee1;
  --tag-back: #060621;
  --tag-back-text: #aa7ee1;
  --tag-environment: #060621;
  --tag-environment-text: #aa7ee1;
  --tag-research: #060621;
  --tag-research-text: #aa7ee1;
  --icon-color: #75673b;
  --btn-bg-primary-hover: #ffad4c;
  --btn-bg-secondary-hover: #001f33;
  --selection-bg: #fff;
  --selection-text: #000;
  --selection-link-bg: #000;
  --selection-link-bg-hover: #61dafb;
  --selection-link-text: #fff;
  --selection-link-text-hover: #000;
}

/* Generals */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: var(--marginX6) 0 var(--marginX2);
  background-color: var(--bg-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-face-color: transparent;
  scrollbar-track-color: transparent;
  scrollbar-highlight-color: transparent;
  scrollbar-arrow-color: transparent;
  scrollbar-shadow-color: transparent;
}
/* Scroll-bar */
body::-webkit-scrollbar {
  height: 6px;
  width: 4px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--highlighted-bg);
  outline: none;
}

body::-webkit-scrollbar-track,
body::-webkit-scrollbar-track-piece,
body::-webkit-scrollbar-corner {
  background-color: transparent;
}

::selection {
  background: var(--selection-bg);
  color: var(--selection-text);
  text-shadow: none;
}
::-moz-selection {
  background: var(--selection-bg);
  color: var(--selection-text);
  text-shadow: none;
}

a::selection {
  background: var(--selection-link-bg);
  color: var(--selection-link-text);
  text-shadow: none;
}
a::-moz-selection {
  background: var(--selection-link-bg);
  color: var(--selection-link-text);
  text-shadow: none;
}
a:hover::selection {
  background: var(--selection-link-bg-hover);
  color: var(--selection-link-text-hover);
}
a:hover::-moz-selection {
  background: var(--selection-link-bg-hover);
  color: var(--selection-link-text-hover);
}

.button-container::selection {
  background: transparent;
}
.button-container::-moz-selection {
  background: transparent;
}

body,
h4,
p,
a,
time {
  font-family: "Roboto Mono", monospace;
  font-size: var(--font-size);
  line-height: var(--font-line-height);
  color: var(--text-color);
}

/* Headings */
h1,
h2,
h3,
.links-bottom a {
  font-family: monospace;
  font-size: var(--font-size-contact);
  color: var(--text-color);
  text-transform: uppercase;
  line-height: var(--font-line-height-contact);
  margin: 0;
}
h4 {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: var(--font-size-small);
  margin: var(--marginX1) 0 var(--margin-one-half) 0;
  color: var(--highlighted-text);
}
h4 span {
  margin-right: var(--margin-one-half);
  color: var(--highlighted-border);
  font-weight: 300;
}
h4::after {
  content: '';
  background: var(--highlighted-border);
  height: 1px;
  width: 100%;
  flex: 1;
  margin-left: var(--margin-one-half);
}
h2,
h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
p,
a,
time,
blockquote,
figcaption,
.links-bottom a {
  font-weight: 300;
}

h4,
b {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
p,
figure {
  text-shadow: 1px 1px 0 var(--text-shadow-color);
}

.at-day h2 {
  color: var(--icon-color);
}

.at-night h2 {
  color: var(--text-color);
}

b {
  color: #e6f1ff;
}

/* Links */
a {
  color: var(--link-color);
  text-decoration: none;
  cursor: pointer;
  transition-delay: 0.11s;
  transition-duration: 0.24s;
  transition-property: all;
  transition-timing-function: line;
}

a:hover {
  color: var(--hover-color);
}

.links-bottom a {
  color: var(--link-color);
}
.links-bottom a:hover {
  color: var(--hover-color);
}
.links-bottom a:first-child {
  margin-right: var(--margin-one-half);
}

main a:focus,
.links-bottom a:focus {
  outline: 2px ridge var(--link-color);
}

svg {
  width: var(--font-size);
  height: var(--font-size);
  vertical-align: middle;
  margin-right: var(--margin-one-half);
  fill: var(--icon-color);
}

.button-container {
  display: inline-block;
  margin: var(--marginX1) 0 var(--marginX2);
}

.btn {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: opacity 15ms linear, background-color 15ms linear;
  padding: var(--margin-one-half) var(--font-size);
  text-transform: uppercase;
  font-size: var(--font-size-small);
  font-weight: 500;
  letter-spacing: var(--margin-one-hundred);
  box-sizing: border-box;
  min-width: 64px;
  min-height: 36px;
  border: 1px solid var(--link-color);
  outline: none;
  overflow: hidden;
  vertical-align: middle;

  transition-delay: 0s;
  transition-duration: 0.24s;
  transition-property: all;
  transition-timing-function: line;
}

.at-day .btn:hover,
.at-day .btn:focus,
.at-day .btn:active {
  box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.5),
    0 9px 18px 0 rgba(250, 250, 250, 0.6),
    0 2px 6px 2px rgba(250, 250, 250, 0.4);
}

.btn--primary {
  background-color: var(--link-color);
  color: var(--bg-color);
}
.btn--primary:hover,
.btn--primary:focus,
.btn--primary:active {
  background-color: var(--btn-bg-primary-hover);
  color: var(--bg-color);
  border-color: var(--btn-bg-primary-hover);
  outline: none;
}

.btn--secondary {
  background-color: transparent;
  color: var(--link-color);
}

.btn--secondary:hover,
.btn--secondary:focus {
  background-color: var(--btn-bg-secondary-hover);
  color: var(--btn-bg-primary-hover);
  border-color: var(--btn-bg-primary-hover);
  outline: none;
}

.space-top {
  margin: var(--marginX2) 0 0;
}
.no-space {
  margin: 0;
}

/* Blockquotes */
blockquote {
  margin: 0 0 var(--margin-one-half);
}
blockquote::before,
blockquote::after {
  content: '"';
  color: var(--highlighted-border);
}

.tags-container {
  width: 100%;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: space-around;
}

/* tag */
pre {
  width: auto;
  padding: var(--margin-one-fifth) var(--margin-one-half);
  margin: 0 var(--margin-one-fifth) var(--margin-one-fifth) 0;
  line-height: var(--font-size);
  border: 1px solid var(--tag-languages-border);
  overflow: auto;
  letter-spacing: 0;
  word-spacing: 0;
  font-size: var(--font-size-contact);
  text-transform: uppercase;
}

/* Figure */
figure {
  font-style: italic;
  color: var(--highlighted-text);
  background-image: linear-gradient(
    to bottom right,
    var(--highlighted-bg),
    transparent
  );
  padding: var(--marginX1) var(--font-size);
  margin: var(--marginX2) auto;
  border: 0.05px solid var(--highlighted-border);
  max-width: var(--max-width);
  box-shadow: inset 3px 3px 0 var(--highlighted-box-shadow);
}

figcaption {
  display: block;
  font-size: calc(var(--font-size) * 0.8);
}

figcaption::before {
  content: "— ";
  color: var(--highlighted-border);
}

main,
footer,
.links-bottom {
  max-width: var(--max-width);
}

main,
footer {
  padding: 0 var(--font-size);
}

main,
.links-bottom {
  margin: 0 auto;
}

footer {
  margin: var(--marginX6) auto 0;
}

address {
  height: var(--contact-height);
  min-height: 180px;
}

.tag-languages {
  background-color: var(--tag-languages);
  color: var(--tag-languages-text);
}

.tag-front {
  background-color: var(--tag-front);
  color: var(--tag-front-text);
}

.tag-back {
  background-color: var(--tag-back);
  color: var(--tag-back-text);
}

.tag-enviroment {
  background-color: var(--tag-environment);
  color: var(--tag-environment-text);
}

.tag-research {
  background-color: var(--tag-research);
  color: var(--tag-research-text);
}

a {
  display: inline-block;
  text-decoration-skip-ink: auto;
  position: relative;
  cursor: pointer;
  color: rgb(100, 255, 218);
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

a::after {
  content: "";
  display: block;
  width: 0px;
  height: 1px;
  position: relative;
  bottom: 0.37em;
  background-color: rgb(100, 255, 218);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

/* animation body background test */
/* .animation-bg {
  animation: pulse-bg 5s infinite;
  animation-direction: alternate;
}

@keyframes pulse-bg {
  0% {
    background-color: #000C14;
  }
  50% {
    background-color: #001628;
  }
  100% {
    background-color: #000C14;
  }
}

.animation-bg p {
  animation: pulse-text 5s infinite;
  animation-direction: alternate;
}

@keyframes pulse-text {
  0% {
    color: #F280D0;
  }
  50% {
    color: #83ba52;
  }
  100% {
    color: #F280D0;
  }
} */

/* Descktop */
@media (min-width: 760px) {
  /*for scale the size just need change the font-size and everything is scaled in proportion*/
  :root {
    --font-size: calc(var(--font-size-base) + 0.1vw);
  }

  main,
  footer {
    padding: 0;
  }
}
