
* { padding: 0; margin: 0; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #455A64;
  background-color: #ECEFF1;
}

h1 {
  font-size: 1.7em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.058em;
  word-spacing: 0.07em;
  color: #263238;
  line-height: 2;
}

h2 {
  word-spacing: 0.07em;
  color: #37474F;
  line-height: 1;
}

a {
  font-weight: 400;
  color: #0288D1;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

a:hover {
  color: #4DC1F6;
  -o-transition: all .5s ease-out, .1s ease-in;
  -ms-transition: all .5s ease-out, .1s ease-in;
  -moz-transition: all .5s ease-out, .1s ease-in;
  -webkit-transition: all .5s ease-out, .1s ease-in;
  transition: all .5s ease-out, .1s ease-in;
}

p {
  font-size: 1.25em;
  line-height: 1.7;
  letter-spacing: -0.02em;
}

p:nth-child(2),
p:nth-child(5),
p:nth-child(6) {
  margin-bottom: 1.25em;
}

strong {
  font-weight: 700;
  color: #37474F;
}

em {
  font-weight: 700;
}

time {
  font-size: .9em;
  line-height: 3;
  color: #607D8B;
}

footer {
  background-color: #263238;
  color: #CFD8DC;
}

footer h1 {
  color: #90A4AE;
}


h1::selection,
h2::selection,
a::selection,
strong::selection {
  color: #E0F7FA;
}
p::selection,
time::selection {
  color: #4DD0E1;
}
em::selection {
  color: #B2EBF2;
}

h1::selection,
h2::selection,
a::selection,
img::selection,
p::selection,
strong::selection,
em::selection,
time::selection {
  background-color: #424242;
}


/* * * * * * * * * * * * * * * * * * *
 * Structure
 */

header {
  
}

header {
  margin-left: 4.16666667%;
  padding: 3em 0 2em;
}

section {
  margin: 0 8% 4em 4.16666667%;
}

footer {
  padding: 1em 8% 2em 4.16666667%;
}

img {
  display: none;
}



@media (min-width: 780px) and (min-height: 700px) {

  p {
    max-width: 30.25em;
    font-size: 1.375em;
    line-height: 1.9;
  }

  p:nth-child(2),
  p:nth-child(4),
  p:nth-child(5) {
    margin-bottom: 1.375em;
  }

  header {
    margin-left: 7.166667%;
  }

  section {
    margin: 0 8% 4em 7.166667%;
  }

  footer {
    padding: 3em 8% 2em 7.166667%;
  } 

}
