:root {
  --font-size: 18px;
  --font-size-small: 13px;
  --font-line-height: 32px;
  --margin: 32px;
  --max-width: 640px;
}

:root .at-day {
  --bg-color: #E3FBFF;
  --text-color: #293030;
  --text-secundary-color: #302C29;
  --link-color: #009cdc;
  --hover-color: #1465ff;
  --bg-quote: #FCFFFF;
  --text-quote: #293030;
  --tag-languages: #f7df1e;
  --tag-languages-text: #333333;
  --tag-front: #61dafb;
  --tag-front-text: #282c34;
  --tag-back: #6cc24a;
  --tag-back-text: #215732;
  --tag-environment: #7952B3;
  --tag-environment-text: #cdbfe3;
  --tag-research: #fff;
  --tag-research-text: #293030;
  --icon-color: #293030;
  --icon-hover-color: #1465ff;
}

:root .at-night {
  --bg-color: #000C14;
  --title-color: #F2CC01;
  --text-color: #944EB2;
  --text-secundary-color: #225588;
  --link-color: #F280D0;
  --hover-color: #BBBBBB;
  --bg-quote: #051336;
  --text-quote: #22A944;
  --tag-languages: #060621;
  --tag-languages-text: #22A944;
  --tag-front: #060621;
  --tag-front-text: #22A944;
  --tag-back: #060621;
  --tag-back-text: #22A944;
  --tag-environment: #060621;
  --tag-environment-text: #22A944;
  --tag-research: #060621;
  --tag-research-text: #22A944;
  --icon-color: #944EB2;
  --icon-hover-color: #F280D0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: calc(var(--margin) * 3) 0 var(--margin);
  background-color: var(--bg-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,
h1,
h2,
p,
time {
  font-family: 'Roboto Mono', monospace;
  font-size: var(--font-size);
  line-height: var(--font-line-height);
  color: var(--text-color);
}

/* Headings */
h1,
h2 {
  margin: calc(var(--margin) * 2) auto 0 auto;
  max-width: var(--max-width);
  font-weight: 900;
}
h1 {
  font-size: calc(var(--font-size) * 1.3);
  line-height: calc(var(--font-line-height) * 1.3);
}
h2 {
  font-size: calc(var(--font-size) * 0.9);
  line-height: calc(var(--font-line-height) * 1.1);
}
.info,
.info time {
  font-size: calc(var(--font-size) * 0.8);
  color: var(--text-secundary-color);
}
p,
a,
time,
blockquote,
figcaption { font-weight: 300; }

.small-title {
  text-transform: uppercase;
  font-size: var(--font-size-small);
  font-weight: 500;
}

b { font-weight: 500; }

time { padding-right: 0.5rem; }

h2 a {
  text-decoration: none;
  box-shadow: none;
  color: var(--text-color);
  font-weight: 500;
}
h2 a:hover {
  text-decoration: none;
}
.at-night h2 a {
  color: var(--title-color);
}
.at-night h2 a:hover {
  color: var(--hover-color);
}

/* Links */
a {
  color: var(--link-color);
  text-decoration: none;
  cursor: pointer;
  transition-delay: 0s;
  transition-duration: 0.18s;
  transition-property: all;
  transition-timing-function: line;
}
a:hover {
  color: var(--hover-color);
}
.icon {
  margin-right: 1rem;
  fill: var(--icon-color);
}
svg:hover {
  fill: var(--icon-hover-color);
}

/* Blockquotes */
blockquote {
  margin: 0 0 0.5rem;
}

.tags-container {
  width: 100%;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: space-around;
}

pre {
  width: auto;
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem 0.2rem 0;
  line-height: 1rem;
  overflow: auto;
  letter-spacing: 0;
  word-spacing: 0;
  font-size: calc(var(--font-size) * 0.75);
  text-transform: uppercase;
}

/* Figure */
figure {
  font-style: italic;
  color: var(--text-quote);
  background-image: linear-gradient(to bottom right, var(--bg-quote), transparent);
  padding: 1rem 1.4rem;
  margin: var(--margin) auto;
  max-width: var(--max-width);
}
figcaption {
  display: block;
  font-size: calc(var(--font-size) * 0.8);
}
figcaption::before {
  content: "— ";
}

article,
footer {
  margin: var(--margin) auto;
  max-width: var(--max-width);
}

.tag-languages {
  background-color: var(--tag-languages);
  color: var(--tag-languages-text);
}

.tag-front {
  background-color: var(--tag-front);
  color: var(--tag-front-text);
}

.tag-back {
  background-color: var(--tag-back);
  color: var(--tag-back-text);
}

.tag-enviroment {
  background-color: var(--tag-environment);
  color: var(--tag-environment-text);
}

.tag-research {
  background-color: var(--tag-research);
  color: var(--tag-research-text);
}

@media (max-width: 700px) and (orientation: portrait) {

article,
footer {
  padding: 0 calc(var(--margin) * 1.5);
}

}
