/* Setting variables */
/* Colour palette */
:root .terminal {
  --bg-color: #001628;
  --title-color: #83ba52;
  --text-color: #f5d67b;
  --text-shadow-color: #001C33;
  --link-color: #ff8a00;
  --hover-color: #FFAD4C;
  --quote-bg: #072940;
  --quote-text: #72e0d1;
  --quote-border: #31605A;
  --quote-box-shadow: #001C33;
  --tag-languages: #060621;
  --tag-languages-text: #aa7ee1;
  --tag-languages-border: #4A3761;
  --tag-front: #060621;
  --tag-front-text: #aa7ee1;
  --tag-back: #060621;
  --tag-back-text: #aa7ee1;
  --tag-environment: #060621;
  --tag-environment-text: #aa7ee1;
  --tag-research: #060621;
  --tag-research-text: #aa7ee1;
  --icon-color: #75673B;
  --btn-bg-primary-hover: #FFAD4C;
  --btn-bg-secondary-hover: #001F33;
  --selection-bg: #fff;
  --selection-text: #000;
  --selection-link-bg: #000;
  --selection-link-bg-hover: #61dafb;
  --selection-link-text: #fff;
  --selection-link-text-hover: #000;
  }