/* JetBrains Mono:300,300i,500 - latin */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(‘../public/fonts/JetBrainsMono/woff2/JetBrainsMono-Italic.woff2’) format(‘woff2’),
url(‘../public/fonts/JetBrainsMono/woff/JetBrainsMono-Italic.woff’) format(‘woff’);
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(‘../public/fonts/JetBrainsMono/woff2/JetBrainsMono-Regular.woff2’) format(‘woff2’),
url(‘../public/fonts/JetBrainsMono/woff/JetBrainsMono-Regular.woff’) format(‘woff’);
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(‘../public/fonts/JetBrainsMono/woff2/JetBrainsMono-Regular.woff2’) format(‘woff2’),
url(‘../public/fonts/JetBrainsMono/woff/JetBrainsMono-Regular.woff’) format(‘woff’);
}
