/* Mobile first */
/* Setting variables */
:root {
  /* font-size-base is the key for all the sizes. 
  Change the font size just with that, from mobile to desktop.*/
  --font-size-base: 16px;

  --font-size: var(--font-size-base); /*16px. last version: 18px*/
  --font-size-small: calc(var(--font-size) * 0.81); /*13px*/
  --font-size-contact: calc(var(--font-size) * 0.75); /*12px*/
  --font-line-height: calc(var(--font-size) * 1.8); /*32px*/
  --font-line-height-contact: calc(var(--font-line-height) * 1.1); /*35px*/
  --marginX1: var(--font-size); /*16px*/
  --marginX2: calc(var(--font-size) * 2); /*32px*/
  --marginX3: calc(var(--font-size) * 3); /*48px*/
  --marginX6: calc(var(--font-size) * 6); /*96px*/
  --margin-one-hundred: calc(var(--font-size) / 100);
  --margin-one-fifth: calc(var(--font-size) / 5); /*3.4px*/
  --margin-one-half: calc(var(--font-size) / 2); /*8px*/
  --max-width: 640px;
  --contact-height: calc(100vh - var(--font-line-height) - var(--marginX1) - var(--marginX1) - var(--margin-one-half) - var(--font-line-height) - var(--font-line-height) - var(--marginX2) - var(--font-line-height) - var(--margin-one-half));
  /* --contact-height calc
        100vh - 
        [h4] var(--font-line-height) - var(--marginX1) - var(--margin-one-half) -
        [links-bottom] var(--font-line-height) -
        [links-bottom] var(--font-line-height) -
        [links-bottom margin-top-icon] var(--margin-one-half) - 
        [body padding bottom] var(--marginX2)
  */

}
  
/* Game Boy colour palette */
:root .at-day {
  --bg-color: #e0f8cf; /* #daf8db */
  --title-color: #306850; /* #4e8861 */
  --text-color: #306850; /*#5d916a */
  --text-shadow-color: none;
  --link-color: #071821; /* #000b01 */
  --hover-color: #071821; /* #000b01 */
  --highlighted-bg: transparent;
  --highlighted-text: #306850; /* #5d916a */
  --highlighted-border: #86c06c; /* #a2d9af */
  --highlighted-box-shadow: none;
  --tag-text: #5d916a;
  --tag-border: #4e8861;
  --icon-color: #4e8861;
  --btn-bg-primary-hover: #fff; /* #e1fee1 */
  --btn-text-primary-hover: #313832;
  --btn-bg-secondary-hover: #fff; /* #e1fee1 */
  --btn-text-secondary-hover: #86c06c; /* #313832 */
  --bg-first-arrow: RoyalBlue;
  --bg-second-arrow: #C2D551;
  --selection-bg: #fff;
  --selection-text: #000;
  --selection-link-bg: #000;
  --selection-link-bg-hover: #61dafb;
  --selection-link-text: #fff;
  --selection-link-text-hover: #000;
  --pop-up-bg: #071821;
  --pop-up-text: #e0f8cf;
  --pop-up-border: #86c06c;
  --pop-up-bg-shadow: #306850;
}

/* Terminal colour palette */
:root .at-night {
  --bg-color: #0A1A21;
  --title-color: #e6f1ff;
  --text-color: #798F99;
  --text-shadow-color: none;
  --link-color: #64ffda;
  --hover-color: #B0FFEC;
  --highlighted-bg: #112933;
  --highlighted-text: #4FE1E8;
  --highlighted-border: #174B61;
  --highlighted-box-shadow: none;
  --tag-text: #20AEEB;
  --tag-border: #1881AD;
  --icon-color: #35454C;
  --btn-bg-primary-hover: #B0FFEC;
  --btn-text-primary-hover: #313832;
  --btn-bg-secondary-hover: #001f33;
  --btn-text-secondary-hover: #b0ffec;
  --bg-first-arrow: RoyalBlue;
  --bg-second-arrow: #C2D551;
  --selection-bg: #fff;
  --selection-text: #000;
  --selection-link-bg: #000;
  --selection-link-bg-hover: #61dafb;
  --selection-link-text: #fff;
  --selection-link-text-hover: #000;
  --pop-up-bg: #262626;
  --pop-up-text: #798F99;
  --pop-up-border: #174B61;
  --pop-up-bg-shadow: #0A1A21;
}

/* Cyberpunk colour palette */
/*
:root .at-night {
  --bg-color: #000117;
  --title-color: #f0f482;
  --text-color: #207561;
  --text-shadow-color: #001c33;
  --link-color: #ff5aa5;
  --hover-color: #f0f482;
  --highlighted-bg: #401629;
  --highlighted-text: #f0f482;
  --highlighted-border: #613041;
  --highlighted-box-shadow: #000117;
  --tag-text: #f0f482;
  --tag-border: #2321b2;
  --icon-color: #75673b;
  --btn-bg-primary-hover: #f0f482;
  --btn-text-primary-hover: #000117;
  --btn-bg-secondary-hover: #291C36;
  --btn-text-secondary-hover: #000117;
  --bg-first-arrow: RoyalBlue;
  --bg-second-arrow: GreenYellow;
  --bg-pop-up-shadow: #221a10;
  --selection-bg: #fff;
  --selection-text: #000;
  --selection-link-bg: #000;
  --selection-link-bg-hover: #61dafb;
  --selection-link-text: #fff;
  --selection-link-text-hover: #000;
}*/


/* Generals */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: var(--marginX6) 0 var(--marginX2);
  background-color: var(--bg-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-face-color: transparent;
  scrollbar-track-color: transparent;
  scrollbar-highlight-color: transparent;
  scrollbar-arrow-color: transparent;
  scrollbar-shadow-color: transparent;
}

body,
h4,
p,
a,
time {
  font-family: "Roboto Mono", monospace;
  font-size: var(--font-size);
  line-height: var(--font-line-height);
  color: var(--text-color);
}

/* Headings */
h1,
h2,
h3,
.links-bottom a {
  font-family: monospace;
  font-size: var(--font-size-contact);
  color: var(--text-color);
  text-transform: uppercase;
  line-height: var(--font-line-height-contact);
  margin: 0;
}
h2,
h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
h4 {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: var(--font-size-small);
  margin: var(--marginX1) 0 var(--margin-one-half) 0;
  color: var(--highlighted-text);
}
h4 span {
  margin-right: var(--margin-one-half);
  color: var(--highlighted-border);
  font-weight: 300;
}
h4::after {
  content: '';
  background: var(--highlighted-border);
  height: 1px;
  width: 100%;
  flex: 1;
  margin-left: var(--margin-one-half);
}

h1,
h2,
h3,
p,
time,
blockquote,
figcaption,
.links-bottom a {
  font-weight: 300;
}

a {
  font-weight: 400;
}

h4,
b {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
p,
figure {
  text-shadow: 1px 1px 0 var(--text-shadow-color);
}

b {
  color: var(--title-color);
}

address {
  font-style: normal;
}

/* Links */
a {
  color: var(--link-color);
  text-decoration: none;
  cursor: pointer;
  transition-delay: 0.11s;
  transition-duration: 0.24s;
  transition-property: all;
  transition-timing-function: line;
}

svg {
  width: var(--font-size);
  height: var(--font-size);
  vertical-align: middle;
  margin-right: var(--margin-one-half);
  fill: var(--icon-color);
}

.links-bottom {
  cursor: default;
}

.links-bottom a {
  color: var(--link-color);
}

.links-bottom a svg {
  height: 24px;
  width: 24px;
}

.links-bottom [name='Cookie-link'],
.links-bottom [name='Sitemap-link'] {
  margin-right: var(--margin-one-half);
}

.links-bottom .icon {
  margin-top: var(--margin-one-half);
}

.button-container {
  display: inline-block;
  margin: var(--marginX1) 0 var(--marginX2);
}

.btn {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: opacity 15ms linear, background-color 15ms linear;
  padding: var(--margin-one-half) var(--font-size);
  text-transform: uppercase;
  font-size: var(--font-size-small);
  font-weight: 500;
  letter-spacing: var(--margin-one-hundred);
  box-sizing: border-box;
  min-width: 64px;
  min-height: 36px;
  border: 1px solid var(--link-color);
  outline: none;
  overflow: hidden;
  vertical-align: middle;

  transition-delay: 0s;
  transition-duration: 0.14s;
  transition-property: all;
  transition-timing-function: line;
}

.btn--primary {
  background-color: var(--link-color);
  color: var(--bg-color);
}

.btn--secondary {
  background-color: transparent;
  color: var(--link-color);
}

.space-top {
  margin: var(--marginX2) 0 0;
}
.no-space {
  margin: 0;
}

/* Blockquotes */
blockquote {
  margin: 0 0 var(--margin-one-half);
}
blockquote::before,
blockquote::after {
  content: '"';
  color: var(--highlighted-border);
}

.tags-container {
  width: 100%;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: space-around;
}

/* tag */
pre {
  width: auto;
  padding: var(--margin-one-fifth) var(--margin-one-half);
  margin: 0 var(--margin-one-fifth) var(--margin-one-fifth) 0;
  line-height: var(--font-size);
  border: 1px solid var(--tag-border);
  overflow: auto;
  letter-spacing: 0;
  word-spacing: 0;
  font-size: var(--font-size-contact);
  text-transform: uppercase;
  cursor: pointer;
  color: var(--tag-text);
}
pre:hover {
  background-color: var(--btn-bg-secondary-hover);
  color: var(--btn-text-secondary-hover);
  border-color: var(--btn-text-secondary-hover);
}

/* Figure */
figure {
  font-style: italic;
  color: var(--highlighted-text);
  background-image: linear-gradient(to bottom right, var(--highlighted-bg), transparent);
  padding: var(--marginX1) var(--font-size);
  margin: var(--marginX2) auto;
  border: 0.05px solid var(--highlighted-border);
  max-width: var(--max-width);
  box-shadow: inset 1px 1px 7px var(--highlighted-box-shadow);
}

figcaption {
  display: block;
  font-size: calc(var(--font-size) * 0.8);
}

figcaption::before {
  content: "— ";
  color: var(--highlighted-border);
}

main,
footer,
.links-bottom {
  max-width: var(--max-width);
}

main,
footer {
  padding: 0 var(--font-size);
}

main,
.links-bottom {
  margin: 0 auto;
}

footer {
  margin: var(--marginX6) auto 0;
}

address {
  height: var(--contact-height);
  min-height: 180px;
}

a {
  display: inline-block;
  text-decoration-skip-ink: auto;
  cursor: pointer;
  color: var(--link-color);
  text-decoration: none;
  line-height: calc(var(--font-line-height) - 1px);
}

.icon svg {
  fill: var(--link-color);
}

.icon:hover svg {
  fill: var(--hover-color);
}

a.icon:focus::after, 
a.icon:hover::after {
  width: 0;
  transition: none;
}

#cookie-message {
  display: flex;

  bottom: 24px;
  left: 24px;
  margin-right: 24px;
  min-width: 288px;
  position: fixed;
  right: 0;
  z-index: 10;

  max-width: fit-content;
  min-width: 288px;

  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;

  background: #202124;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(60,64,67,.3), 0 4px 8px 3px rgba(60,64,67,.15);
  font-size: 14px;
  min-height: 48px;
  padding: 0 1.3rem;
}

#cookie-message p {
  color: #aaa;
  font-size: calc(var(--font-size) * 0.9);
}

#cookie-message ul {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;

  list-style: none;
  margin: 0 0 1em 0;
  padding: 0;

}

#cookie-detail, 
#cookie-ok {
  cursor: pointer;
  margin-left: 2rem;
  color: #ddd;
  font-size: var(--font-size);
}

#cookie-detail:hover, 
#cookie-ok:hover {
  color: #fff;
}

.hidden-cookie-message {
  opacity: 0;
}

.show-cookie-message {
  animation-duration: 0.9s;
  animation-name: cookieslidein;
}
.done-cookie-message {
  animation-duration: 0.5s;
  animation-name: cookieslideout;
}

@keyframes cookieslidein {
  from {
    margin-bottom: -6%;
    opacity: 0;
  }
  to {
    margin-bottom: 0%;
    opacity: 1;
  }
}

@keyframes cookieslideout {
  from {
    margin-bottom: 0%;
    opacity: 1;
  }
  to {
    margin-bottom: -6%;
    opacity: 0;
  }
}

.pop-up {
  overflow: hidden;
  background-color: var(--link-color); /* #262626 */
  border: 0.05px solid var(--highlighted-border);
  border-radius: 8px 8px 0 0;
  box-shadow:
    0 3px 1px -2px rgba(0, 0, 0, 0.2), 
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.pop-up-shadow {
  position: fixed;
  top: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  opacity: 0.85;
  background-color: var(--pop-up-bg-shadow);
}

.pop-up-active {
  position: fixed;
  left: 4vw;
  top: 4vh;
  display: block;
  width: 92vw;
  height: 92vh;
  padding: 0;
  z-index: 1;
  cursor: pointer;
  overflow: auto;

  animation: toShow 0.2s 1;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
}
.pop-up-disabled {
  position: fixed;
  left: 4vw;
  top: 4vw;
  width: 92vw;
  height: 92vw;
  padding: 0;
  z-index: -1;

  animation: toHide 0.5s 1;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.header-terminal {
  width: 100%;
  height: calc(var(--font-size-contact) * 2.3);
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  white-space: normal;
  text-overflow: ellipsis;
  border-radius: calc(var(--font-size-contact) / 2) calc(var(--font-size-contact) / 2) 0 0;
  background: #E0E8F0;
  overflow: hidden;
}
.button-terminal-red,
.button-terminal-yellow,
.button-terminal-green {
  width: var(--font-size-contact);
  height: var(--font-size-contact);
  margin: 0 0 0 var(--margin-one-half);
  border-radius: var(--font-size-contact);
}
.button-terminal-red { background: #E75448; }
.button-terminal-yellow { background: #E5C30F; }
.button-terminal-green { background: #3BB662; }

.terminal-title {
  padding: 0 0 0 var(--margin-one-half);
  margin: 0;
  border: 0;
}
pre.terminal-title:hover {
  background: none;
}

.body-terminal {
  padding: 3vh 3vw;
}

.pop-up-active p {
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  text-shadow: none;
}
.pop-up-active .terminal-host, 
.pop-up-active .terminal-path {
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pop-up-active .terminal-host {
  padding: 0 var(--margin-one-half);
  color: black;
  background-color: var(--bg-first-arrow);
}
.pop-up-active .terminal-path {
  padding: 0 var(--margin-one-half);
  color: #262626;
  background-color: var(--bg-second-arrow);
}
.pop-up-active .terminal-path::before {
  content: '/';
}

.first-arrow,
.second-arrow {
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}
.first-arrow {
  border-left: solid var(--bg-first-arrow);
  border-top: solid var(--bg-second-arrow);
  border-bottom: solid var(--bg-second-arrow);
  border-left-width: calc(var(--font-size-base) / 1.3);
  border-top-width: calc(var(--font-size-base) - 1px); 
  border-bottom-width: calc(var(--font-size-base) - 1px);
}
.second-arrow {
  border-left: solid var(--bg-second-arrow);
  border-top: solid transparent;
  border-bottom: solid transparent;
  border-left-width: calc(var(--font-size-base) / 1.3);
  border-top-width: calc(var(--font-size-base) - 1px); 
  border-bottom-width: calc(var(--font-size-base) - 1px);
}
.pop-up-active .terminal-content {
  display: inline;
  padding: 0 var(--margin-one-half);
  color: var(--bg-color); /* #969696 */
}
.pop-up-active .terminal-content::after {
  content: '|';
  font-weight: 400;
  opacity: 0;
  animation: terminalCursor 0.7s infinite;
  color: white;
}

@keyframes toShow {
  0% { opacity: 0; transform: scale(0.9); }
  100% { opacity: 1; transform: scale(1); }
}
@keyframes toHide {
  0% { opacity: 1; transform: scale(1); }
  100% { opacity: 0; transform: scale(0.8); }
}

@keyframes terminalCursor {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}


/* Descktop */
@media (min-width: 760px) {
  /*for scale the size just need change the font-size and everything is scaled in proportion*/
  :root {
    --font-size: calc(var(--font-size-base) + 0.1vw);
  }

  main,
  footer {
    padding: 0;
  }

}

/* Pseudo classes */
/* Scroll-bar */
body::-webkit-scrollbar,
.pop-up-active::-webkit-scrollbar {
  height: 6px;
  width: 4px;
}

body::-webkit-scrollbar-thumb,
.pop-up-active::-webkit-scrollbar-thumb {
  background-color: var(--highlighted-bg);
  outline: none;
}

body::-webkit-scrollbar-track,
body::-webkit-scrollbar-track-piece,
body::-webkit-scrollbar-corner,
.pop-up-active::-webkit-scrollbar-track,
.pop-up-active::-webkit-scrollbar-track-piece,
.pop-up-active::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* Selected text */
::selection {
  background: var(--selection-bg);
  color: var(--selection-text);
  text-shadow: none;
}

::-moz-selection {
  background: var(--selection-bg);
  color: var(--selection-text);
  text-shadow: none;
}

a::selection {
  background: var(--selection-link-bg);
  color: var(--selection-link-text);
  text-shadow: none;
}

a::-moz-selection {
  background: var(--selection-link-bg);
  color: var(--selection-link-text);
  text-shadow: none;
}

a:hover::selection {
  background: var(--selection-link-bg-hover);
  color: var(--selection-link-text-hover);
}

a:hover::-moz-selection {
  background: var(--selection-link-bg-hover);
  color: var(--selection-link-text-hover);
}

.button-container::selection {
  background: transparent;
}

.button-container::-moz-selection {
  background: transparent;
}

/* Hover, focus & active */
a:hover {
  color: var(--hover-color);
  background-size: 4px 50px;
}

.links-bottom a:hover {
  color: var(--hover-color);
}

main a:focus,
.btn:focus,
.links-bottom a:focus {
  outline: none;
}

main a:hover,
main a:focus {
  background: linear-gradient(90deg,#ff8a00,#e52e71);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}


/* hover line under links */
a::after,
a:focus::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: var(--link-color);
    transition: width .25s;
}
a:hover::after,
a:focus::after {
    width: 100%;
    transition: width .15s;
}
a.btn::after,
a.btn:hover::after {
    width: 0;
    height: 0;
    background-color: none;
}

.btn--primary:hover,
.btn--primary:active,
.btn--primary:focus {
  background-color: var(--btn-bg-primary-hover);
  color: var(--btn-text-primary-hover); /*--btn-text-primary-hover --bg-color*/
  border-color: var(--btn-bg-primary-hover);
  outline: none;
}

.btn--secondary:hover,
.btn--secondary:active,
.btn--secondary:focus {
  background-color: var(--btn-bg-secondary-hover);
  color: var(--btn-text-secondary-hover); /*--btn-bg-primary-hover*/
  border-color: var(--btn-bg-primary-hover);
  outline: none;
}
