/* Fonts CSS */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,300i|Roboto:300,400,500');

body { font-family: 'Roboto', sans-serif; font-size: 16px; font-weight: 300; color: #414549; }

/* Mobile first < 450px */
/* fonts */
h1 {
  font-weight: 500;
  font-size: 13vw;
  color: #414549;
  letter-spacing: -0.1vw;
  word-spacing: -0.1vw;
}
h2 {
  font-family: 'Roboto Mono', monospace;
  font-size: 6.5vw;
  font-weight: 300;
  color: #424242;
  line-height: 13vw;
  letter-spacing: -0.14vw;
  word-spacing: -0.4vw;
}

a {
  transition: all 0.3s ease;
  outline: 0;
  text-decoration: none;
}

section a {
  color: #06649F;
  text-transform: uppercase;
  text-decoration: none;
}

section a:hover { color: #2DADFF; }

section a::before { padding-right: 1vw; }

p {
  line-height: 1.7rem;
  letter-spacing: 0.014rem;
  word-spacing: -0.02rem;
  margin: 0;
  vertical-align: baseline;
}

main p { margin-bottom: 1rem; }

span, .extra-info a {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.9rem;
  line-height: 1rem;
  color: #5f6368;
}

pre { font-family: 'Roboto Mono', monospace; font-weight: 400; font-size: 1vw; }

figure {
  font-family: 'Roboto Mono', monospace;
  font-style: italic;
  color: #414549;
  background-color: #e8eaed;
  padding: 1rem 1.4rem;
  margin: 2rem 0;
  line-height: 1.4rem;
  word-spacing: -0.28rem;
}

blockquote { margin: 0 0 0.5rem; }

figcaption::before {
  content: "— ";
  padding-right: .3em;
}

.black-title { font-weight: 400; }

/* Main CSS */
html { height: 100%; }

header, section, main { width: 100%; }

body {
  height: 100%;
  display: flex; 
  flex-direction: column; /* colocamos dirección de los divs en columna */
  align-items: center; /* centramos la columna en horizontal */
  justify-content: center; /* centramos la columna en vertical */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex;/* NEW - Chrome */

  margin: 0;
  padding: 0;
}

main { display: none; }

section ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  line-height: 15vh;
}

/*
proporcion entre azul claro en el hover al azul oscuro del clicado
claro - aeebf1
normal - 3bd1df
oscuro - 00adbf
*/
.highlight-button {
  display: block;
  border-radius: 5px;
  background-color: #1297EC;
  color: #fff;
  text-decoration: none;
  padding: 0.8rem 1.2rem;
  margin: 0 auto;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.highlight-button:hover {
  background-color: #2DADFF;
  box-shadow: 0px 3px 4px 0px #666;
}

footer { display: none; }

footer ul {
  display: inline-block;
  margin-top: 1rem;
  vertical-align: top;
}

footer li { display: block; }

h1, h2 { margin: 0; text-align: center; }

ul { list-style-type: none; margin: 0; padding: 0; }

/*
Pressed: 40% #999999
Disabled text: 26% #000000
*/

.extra-info { display: none; }

#elGreeting { margin-top: 4rem; }

#elDate {
  display: block;
  padding: 1rem 0 1rem;
  border-bottom: 1px solid #efefef;
}

.footer-col-1 { width: calc(50% - 1rem); margin-right: 1rem; }
.footer-col-2 { width: calc(30% - 1rem); margin-right: 1rem; }

@media (min-width: 450px) {

  /* fonts */
  h1 {
    font-size: 4vw;
    text-align: left;
    line-height: 2rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
  }

  h2 {
    font-size: 2.4vw;
    text-align: left;
    line-height: 2rem;
    display: inline-block;
    vertical-align: middle;
  }

  a { color: #1297EC; }

  a:hover {
    color: #2DADFF;
    text-decoration: underline;
  }

  body { display: block; }

  header, main, footer {
    width: calc(100% - 4rem);
    margin: 2rem 2rem 5rem;
  }

  nav { display: none; }

  section { display: none; }

  main {
    display: block;
    border-top: 4px solid #319353;
  }

  footer {
    display: block;
    border-top: 0.25rem solid #4285f4;
  }

  .photo { 
    display: inline-block;
    width: 60px;
    height: 60px;
    background-image: url("../images/pablo-garcia.png");
    background-repeat: no-repeat;
    border-radius: 6px;
    background-size: cover;
    vertical-align: middle;
    margin-right: 1rem;
  }

}

@media (min-width: 630px) { main, footer { width: calc(100% - 33%) } }

@media (min-width: 780px) {

  h1 {
    line-height: 2rem;
    text-align: left;
    font-size: 1.9rem;
    margin-top: 1.3rem;
    margin-right: 0;
    letter-spacing: -0.96px;
    word-spacing: -0.8px;
  }

  h2 {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: left;
    margin-bottom: 1rem;
    letter-spacing: -0.6px;
    word-spacing: -5px;
  }

  header {
    width: 230px;
    display: inline-block;
    margin: 24px 0 24px 16px;
  }

  main {
    display: inline-block;
    width: 488px;
    margin: 24px 1.3rem 2.3rem;
    vertical-align: top;
  }

  footer {
    width: 488px;
    margin-left: calc(250px + 1.3rem);
  }


  /* meter en el DOM un DIV.photo cuando el view sea mayor de 780px */
  .photo {
    display: block;
    width: 230px;
    height: 230px;
  }

  .extra-info {
    display: block;
    padding: 1rem 0;
    border-top: 1px solid #efefef;
  }

  .extra-info a {
    color: #1297EC;
    text-decoration: none;
  }
  .extra-info a:hover {
    color: #2DADFF;
    text-decoration: underline;
  }

  .icon {
    display: inline-block;
    margin-right: 0.4rem;
  }

}

@media (min-width: 878px) { main, footer { width:586px; } }