
/* Black background */
body { background-color: #000; }

h1 { color: #c0c4c3; }

p { color: #4F4747; }

figure {
  border-left: 1px solid #353D42;
  color: #453737;
}

h2,
time { color: #b0b5af; }

a { color: #687882; }
a:hover { background-color: #343A3D; }

.image-profile {
  background-image: url('../../images/pablerashow180x180-black.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}
