
/* Green background */
body { background-color: #001317; }

h1 { color: #D4DCCD; }

section,
footer { border-top: solid 1px #102124; }

p { color: #6b7474; }

figure {
  border-left: 1px solid #330518;
  color: #005263;
}

h2,
time { color: #53605D; }

article:nth-child(2) { border-top: solid 1px #102124; }

a { color: #C0BDA8; }
a:hover { background-color: #FFFEF7; }

@media (min-height: 700px) and (min-width: 650px) {

  article:nth-child(2) { border-top: none; }

}