
/* Green background */
body { background-color: #001317; }

h1 { color: #D4DCCD; }

section,
footer { border-top: solid 1px #102124; }

p { color: #6b7474; }

figure {
  border-left: 1px solid #330518;
  color: #005263;
}

h2,
time { color: #53605D; }

article:nth-child(2) { border-top: solid 1px #102124; }

a {
  color: #FF1978;
  background-color: #330518;
}
a:hover {
  color: #fff;
  background-color: #7F0C3C;
}

.image-profile {
  background-image: url('../../images/pablerashow180x180-green.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-height: 700px) and (min-width: 650px) {

  article:nth-child(2) { border-top: none; }

}