@charset 'UTF-8';

@font-face {
  font-family: 'icons';
  font-weight: normal;
  font-style: normal;
  src:url('../../fonts/icons.eot');
  src:url('../../fonts/icons.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/icons.woff') format('woff'),
  url('../../fonts/icons.ttf') format('truetype'),
  url('../../fonts/icons.svg#icons') format('svg');
}

[data-icon]:before {
  content: attr(data-icon);
  font-family: 'icons' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  vertical-align: text-top;
  padding-right: 0.5em;
  color: #BEBEBE;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[data-icon]:hover:before { color: #FF4081; }

.highlight-button:before,
.highlight-button:hover:before {
  font-size: 80%;
  vertical-align: baseline;
  color: #fff;
}