/* Main Styles */
html { width: 100%; height: 100%; }

body {
  font-size: 100%; 
  font-family: Georgia, Times, serif;
  font-style: normal;
  line-height: 1.45;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 2em;
  text-align: justify;
}

header {
  max-width: 43.750em;
  margin: 8em auto 2em;
}

section,
footer {
  max-width: 43.750em;
  padding: 2em 0;
  margin: 0 auto;
}

article:nth-child(1) { padding-bottom: 2em; }

article:nth-child(2) { padding: 2em 0; }

h1 {
  font-size: 2em;
  font-weight: 700;
  line-height: 1;
  color: #2F2829;
}

h2,
time {
  font-size: 1.32em;
  font-weight: 700;
  color: #413939;
  margin-top: 0.3em;
}

p {
  font-size: 1.31em;
  font-weight: 400;
  margin-bottom: 1em;
  color: #4F4747;
}
p:last-child { margin: 0; }

footer p {
  font-size: 1.4em;
  margin-bottom: 1.25em;
}

figure {
  padding: 0 1.4em;
  margin: 3em 0;
  border-left: 1px solid #867879;
  color: #6A5455;
}

blockquote { margin: 0; }

blockquote,
figcaption {
  font-size: 1.31em;
  font-weight: 300;
  font-style: italic;
}
figcaption:before {
  content: "— ";
  padding-right: 0.3em;
}

a {
  font-weight: 700;
  font-size: 1.12em;
  line-height: 1;
  text-decoration: none;
  color: #38382D;
  background-color: #73C74E;
  cursor: pointer;
  padding: .58em .8em;
  margin-top: .6em;
  width: 7.7em;
  text-align: center;
  display: inline-block;
  outline: none;
  -webkit-transition: color 250ms, background-color 250ms;
  -moz-transition: color 250ms, background-color 250ms;
  -o-transition: color 250ms, background-color 250ms;
  transition: color 250ms, background-color 250ms;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
a:hover { background-color: #87EA5C; }

article:nth-child(2) p {
  margin: 0;
  font-size: 1em;
}

time {
  text-align: left;
  display: block;
  margin: 7em 0 2em;
}

.image-profile {
  height: 180px;
  width: 180px;
  display: block;
}

/* Desk config */
@media (min-width: 650px) and (min-height: 700px) {

  article {
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }

  article:nth-child(2) {
    padding: 0;
    border: none;
  }

  article:nth-child(2) h2,
  article:nth-child(2) p { text-align: center; }

  .image-profile { margin: 0 auto 1.25em; }

}

/*
 * Changing the color text selected
 */
h1::selection { color: #1D4C35; }
h2::selection { color: #2B9863; }
h2 span::selection { color: #4A2B59; }

i::selection { color: #72CDD4; }
a::selection { color: #30C0CB; }

p::selection, span::selection, em::selection { color: #996059; }

blockquote::selection { color: #8AA690; }
figcaption::selection,
time::selection { color: #6BCC62; }

