/*
2.250em = 36px
a = 1em > padding = 0.625em
*/


/*
 * Reset
 */
html, body, header, section, footer, ul, li, h1, h2, a, p, strong, em, i, time { box-sizing: border-box; padding: 0; margin: 0; }

html { width: 100%; height: 100%; }

body {
  width: 92%;
  height: 100%;
  display: table;
  margin: 0 4%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

header {
  display: table-cell;
  vertical-align: middle;
}

section {
  display: block;
  max-width: 34em;
  margin: 3.5em auto 0;
}

footer {
  display: table-row-group;/* table-footer-group */
  text-align: left;
  width: 90%;
}

footer ul {
  border-top: 1px solid #ccc;
  line-height: 1;
  cursor: pointer;
  margin-top: 3.5em;
  padding: 0.625em 0.5em;
  min-width: 4em;
}

footer li {
  display: none;
  vertical-align: middle;
}

li { display: block; }

h1 {
  font-size: 2em;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0.85em;
}

h2 {
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.3em;
  word-spacing: -0.04em;
  margin-bottom: 1.5em;
}

a {
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
  color: #727272;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.625em 0.5em;
  margin: 0.5em;
  min-width: 4em;
  display: inline-table;
  outline: none;

  -webkit-transition: color 250ms, background-color 250ms;
  -moz-transition: color 250ms, background-color 250ms;
  -o-transition: color 250ms, background-color 250ms;
  transition: color 250ms, background-color 250ms;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

p,
p a {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4em;
  letter-spacing: -0.005em;
  text-align: left;
  max-width: 34em;
}

strong {
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1.4em;
  letter-spacing: -0.005em;
}

em {
  font-size: 1.2em;
  font-weight: 400;
  font-style: italic;
  line-height: 1.4em;
  letter-spacing: -0.005em;
}

time {
  font-size: 0.9em;
  font-weight: 300;
  line-height: 3em;
  letter-spacing: -0.005em;
  text-align: left;
  color: #ccc;
  display: block;
}

.highlight-button {
  display: inline-table;
  margin-top: 2.5em;
  border-radius: 3px;
  background-color: #0288D1;
  color: #fff;
  padding-right: 1em;
  -webkit-transition: padding 60ms, background-color 100ms, color 100ms;
  -moz-transition: padding 60ms, background-color 100ms, color 100ms;
  -o-transition: padding 60ms, background-color 100ms, color 100ms;
  transition: padding 60ms, background-color 100ms, color 100ms;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
.highlight-button:hover {
  background-color: #03A9F4;
  color: #fff;
}


.none { display: none; }
.opacity { opacity: 0; }
li a.active { color: #FF4081; }
li a.active.highlight-button { color: #fff; }
footer ul:hover {
  background-color: rgba(153, 153, 153, 0.2);
  color: #FF4081;
}
footer li.active { display: inline-flex; }


/*
 * Animation DOMContentLoaded
 */
.anim-headings,
.anim-link {
  position: relative;
  -webkit-animation-name: slidein;
  -moz-animation-name: slidein;
  -o-animation-name: slidein;
  animation-name: slidein;
}
.anim-footer {
  -webkit-animation-name: footerin;
  -moz-animation-name: footerin;
  -o-animation-name: footerin;
  animation-name: footerin;
}
.anim-headings,
.anim-link,
.anim-footer {
  will-change: top, opacity;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  -o-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.anim-headings { animation-duration: 1.6s; }
.anim-link { animation-duration: 0.5s; }
.anim-link-down {
  will-change: opacity;
  animation-duration: 0.6s;
  animation-name: slideout;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: easeInOut;
  animation-fill-mode: forwards;
}
.anim-footer { animation-duration: 0.4s; }


h1::selection { color: #388E3C; }
h2::selection { color: #FFEB3B; }
a::selection { color: #536DFE; }
a:hover {
  background-color: rgba(153, 153, 153, 0.2);
  color: #FF4081;
}
a:active { color: #FF4081; }
a:before {
  -webkit-transition: color 250ms;
  -moz-transition: color 250ms;
  -o-transition: color 250ms;
  transition: color 250ms;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
header li:nth-child(3) { display: block; }
p:nth-child(2), p:nth-child(4), p:nth-child(6) { margin-bottom: 1.25em; }


@keyframes slidein {
  0% { top: 30px; opacity: 0; }
  100% { top: 0px; opacity: 1; }
}

@keyframes slideout {
  0% { opacity: 1; }
  100% { opacity: 0.2; }
}

@keyframes footerin {
  0% { bottom: -30px; opacity: 0; }
  100% { bottom: 0px; opacity: 1; }
}


/*
 * Desk config
 */
@media (min-width: 650px) and (min-height: 700px) {
  h1 { font-size: 3.5em; }
  h2 { font-size: 1.9em; }
  li { display: inline-block; }
  footer {
    display: block;
    position: fixed;
    bottom: 0;
    left: 5%;
  }
}
