
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../../fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(../../fonts/MaterialIcons-Regular.woff) format('woff'),
       url(../../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1em;  /* 24px default icon size */
  display: inline-block;
  line-height: 1;
  vertical-align: bottom;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #CB77A9;
  padding-right: 0.5em;
  font-feature-settings: 'liga'; /* Support for IE. */
  text-rendering: optimizeLegibility; /* Support for Safari and Chrome. */
  -webkit-font-smoothing: antialiased; /* Support for all WebKit browsers. */
  -webkit-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale; /* Support for Firefox. */
}