
/* White background */
body { background-color: #FFFAFD; }

h1 { color: #2F2829; }

p { color: #4F4747; }

figure {
  border-left: 1px solid #867879;
  color: #6A5455;
}

h2,
time { color: #413939; }

.image-profile {
  background-image: url('../../images/pablerashow180x180-white.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}